html {
  height: 100%;
  width: 100%;
  background: #FFDC74;
  font-family: "Cal Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0px;
}

.content {
  margin-right: 5%;
  margin-left: 5%;
  width: 90%;
}

/*Style Nav Bar*/
/*Style All Elements With the Class navBar*/
.navBar {
  /*position: fixed;*/
  overflow: hidden;
  background-color: #0D121E;
  top: 0;
  width: 100%;
  z-index: 1;
}

/*Style Nav Bar Links*/
.navBar a {
  float: left;
  display: block;
  color: #FFDC74;
  background-color: #0D121E;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Cal Sans", sans-serif;
  font-weight: 500;
}

/*Style Nav Bar Links on Hover*/
.navBar .navBarText:hover {
  background-color: #0D121E;
  color: #FFDC74;
}

/*Style Active Nav Bar Links*/
.navBar a.active {
  background-color: #FFDC74;
  color: #0D121E;
}

/*Style Nav Bar Icon*/
.navBar .icon {
  display: none; 
  background-color: #FFDC74;
  color: #0D121E;
}

/*Style Nav Bar Image*/
.navBar img {
  background-color: #0D121E;
  height: 40px;
  width: auto;
  display: block;
  padding: 3px 15px;
  margin: -14px -16px;
}

.navBar img:hover {
   background-color: #0D121E;
}

.navBar img.active {
  background-color: #0D121E;
}

/*COLLAPSIBLES*/
.collapsibles {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

/*Style Collapsible Button*/
.collapsible {
  background-color: #0D121E;
  color: #FFFFFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  display: block;
  border-radius: 10px;
  font-family: AzoSans;
}

.collapsible, button {
  font-style: normal;
  font-family: "Cal Sans", sans-serif;
}

.active, .collapsible button {
  border-radius: 10px 10px 0px 0px;
}

/*Style Collapsible Button On Click and On Hover*/
.active, .collapsible:hover {
  background-color: #0D121E;
}

/*Style Collapsible "Open Button" When Collapsible is Closed*/
.collapsible:after {
  content: '+';
  font-size: 20px;
  font-weight: bold;
  color: #F5D68B;
  float: right;
  margin-left: 5px;
}

/*Style Collapsible "Close Button" When Collapsible is Open*/
.active:after {
  content: '-';
  font-size: 20px;
  font-weight: bold;
  color: #F5D68B;
}

/*Hide Content Within Collapsible*/
.collapsibleContent {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #FFFFFF;
  color: #0D121E;
  border-radius: 0px 0px 10px 10px;
}

/*Style Collapsible Paragraph Text*/
.collapsibleContent, p {
  font-weight: 600;
}

.collapsibleIcon {
  height: 250px;
  width: auto;
}

/*Style Flip Cards*/ 
.flipCard {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3em;
}

/*Style Flip Card Inner (Position Front and Back Sides)*/
.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/*Style Flip Card on Hover*/
.flipCard:hover .flipCardInner{
  transform: rotateY(180deg);
}

/*Style Front and Back of Flip Card*/
.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
}

.flipCardFront img {
  width: 300px;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 20px;
}

/*Style Back of Flip Card*/
.flipCardBack {
  background-color: #0D121E;
  color: #FFFFFF;
  transform: rotateY(180deg);
  padding: 1em;
}

.flipCardBack h1 {
  color: #FFDC74;
}

/*Style Three Side By Side*/
.threeSideBySide {
  margin-right: 3%;
  margin-left: 3%;
  width: 90%;
  height: auto;
  display: inline-flex;
  padding: 20px;
  justify-content: center;
  margin-top: -1px;
  align-items: center;
}

/*Style Three Side By Side Elements*/
.threeSideBySideElement {
  width: 30%;
  height: auto;
  margin: 5px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  object-fit: cover;
  align-items: center;
  flex-wrap: wrap;
}

/*Style Three Side By Side to be Responsive*/
@media screen and (max-width: 1000px) {
  .threeSideBySide {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: -5%;
  }

  .threeSideBySideElement {
    width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

#title {
  font-size: 60px;
  text-align: center;
}

#subtitle {
  font-size: 25px;
  text-align: center;
}

.resourceButton {
  background-color: #FFDC74;
  color: #0D121E;
  border-radius: 20px;
  border: none;
  padding: 20px;
  font-size: 15px;
}

.resourceButton:hover {
  cursor: pointer;
  background-color: #FFE69D;
}

.buttons {
  width: 95%;
  padding: 20px;
  border-radius: 20px;
  background-color: #0D121E;
  text-align: center;
}

.buttons a {
  margin: 20px;
  color: #0D121E;
  background-color: #FFDC74;
}

.buttons p {
  color: #FFDC74;
}

.buttons #subtitle {
  color: #FFFFFF;
}

#top {
  margin-bottom: 20px;
}